.Dispachbox {
    width: 100%;
    display: flex;
    padding: 20px;

}

.icon {
    align-items: center;
    padding: 20px 20px;
}

.box1:hover {
    background-color: red;
    border-radius: 10px;
}

.box2:hover {
    background-color: red;
    border-radius: 10px;
}

.box3:hover {
    background-color: red;
    border-radius: 10px;
}

.box4:hover {
    background-color: red;
    border-radius: 10px;
}

.box5:hover {
    background-color: red;
    border-radius: 10px;
}

.box6:hover {
    background-color: red;
    border-radius: 10px;
}