*{
    margin: 0;
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}
#header{
    padding: 20px 0;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
#header #hgroup h1 {
    font-size: 36px;
}
a {
    outline: none;
    text-decoration: none;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}
.clear {
    display: block;
    clear: both;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
#header nav {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul {
    padding: 0 20px;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
#header nav li.last {
    margin-right: 0;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container #homepage #services {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #DEDEDE;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
.one_quarter {
    width: 225px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
#container #homepage #services figure {
    display: inline;
    float: left;
}
#container #homepage #services strong {
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage #services p {
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    clear: both;
    line-height: 1.6em;
}
#container .more {
    text-align: right;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
.lastbox {
    margin-right: 0;
}