<html>
  <head>
    <style>
      div#header {
        background: red;
        padding: 10px;
        overflow: auto;
      }
      div#left {
        width: 30%;
        background: lightgreen;
        height: 100px;
        float: left;
      }
      div#right {
        background: lightsalmon;
        height: 100px;
        width: 70%;
        float: left;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div id="left"></div>
      <div id="right"></div>
    </div>
  </body>
</html>
