<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./template1.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>GrowthM5</h1>
            <ul>
                <li>About</li>
                <li>Work</li>
                <li>Blog</li>
                <li>Contact</li>
                <li><span>We're hiring</span></li>
            </ul>
            </div>
            <div class="head">
            <h6>About GrowthM5</h6>
            <h1>Scelerisque varius morbi enim <br>
                nunc faucibus a pellentesque.</h1>
                <button>Contact Us</button>
            </div>
        </div>
        <div class="main">
            <div class="first">
            <h1>Customize Your <br>
                Logo with 
                <br>'Creative Logo Studio'</h1>
                <h4>Auctor urna nunc id cursus metus aliquam <br> 
                    eleifend. Dolor sit amet consectetur <br>
                    adipiscing elit pellentesque habitant morbi <br>
                      tristique. Nunc faucibus a pellentesque <br>
                       sit amet. Morbi blandit cursus risus at ultrices <br> 
                       mi. Consequat mauris nunc congue nisi vitae <br>
                        suscipit tellus mauris. Pharetra diam sit <br>
                         amet nisl suscipit adipiscing bibendum est  <br> 
                         ultricies. Malesuada proin libero nunc <br> 
                         consequat interdum.</h4>
                        </div>
                        <img id="image" src="./laptop image.jpg" alt="" width:70px; height:70px;>
        </div>
        <div class="second">
        <div class="one">
            <img src="./person.jpg" alt="" width="300px"; height="200px";>
            <h3>Logo Creation</h3>
            <p>Facilisis gravida neque <br>
                convallis a cras semper <br>
                 auctor. Faucibus et molestie <br> 
                 ac feugiat sed lectus <br>
                 Fermentum posuere urna  <br>
                 nec tincidunt praesent <br>
                 semper feugiat.</p>
        </div>
        <div class="two">
            <img src="./laptop image1.jpg" alt="" width="300px"; height="200px";>
            <h3>Website Design <br>
            & Development</h3>
            <p>Facilisis gravida neque <br>
                convallis a cras semper <br>
                auctor. Faucibus et molestie <br>
                 ac feugiat sed lectus <br>
                 Fermentum posuere urna <br> 
                 nec tincidunt praesent <br>
                 semper feugiat.</p>
        </div>
        <div class="three">
            <img src="./be-caring-person.jpg" alt="" width="300px"; height="200px";>
            <h3>Apps Design and Development</h3>
            <p>Facilisis gravida neque <br>
                convallis a cras semper <br>
                auctor. Faucibus et molestie <br> 
                ac feugiat sed lectus <br>
                Fermentum posuere urna <br> 
                nec tincidunt praesent  <br>
                semper feugiat.</p>
        </div>
        </div>
        <div id="third">
            <h1>When the looks <br>
                matter –<br>
                we deliver the best</h1>
                <img class="apple" src="./apple.jpg">
        </div>
        <div class="fourth">
        <img class="bulb" src="./bulb.jpg" alt="" width="80pc"; height="80pc";>
        <img id="person" src="./person2.jpg" alt="" width="80pc"; height="80pc";>
        <div class="four">
        <h1>Good Logo <br>
            design ensures a <br>
             better customer <br>
             response</h1>
             <p>Ipsum suspendisse ultrices gravida dictum <br>
                fusce ut placerat orci nulla velit ut tortor <br>
                 pretium viverra suspendisse.</p>
                 <button>Live Chart</button>
                </div>
            </div>
        
            <div class="fifth">
                <h1>Our Recent awesome work</h1>
                <div class="boat">
                    <h4>space <span>box</span></h3>
                    <h5> <img src="./recycle.svg" alt="">COMPANY NAME</h3>
                    <h2><img src="./pc-display-horizontal.svg" alt="">Cmpuserve</h2>
                    <h3 id="so">Future Net</h1>
                    <h6><img src="./gear-fill.svg" alt="">company <br>name</h6>
                    
            </div>

        </div>
</body>
</html>